#page3{
    height: 80vh;
    width: 100%;
position: relative;
    /* background: #ad5050; */

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* overflow: hidden; */
}


#page3 .card{
    height: 95%;
    width: 27%;
    position: relative;
 border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    
}

#page3 .card .front{
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    background: #000;
    
    

}
#page3 .card img{
    height: 100%;
    width: 100%;
 /* z-index: 2; */
   
    

}


page3 .card .front #card-name{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #b96b6b;
    z-index: 7;

    height: 200px;
    width: 100px;
}
page3 .card .front #card-name h2{
    color: white;
}
#page3 .card #back{
    height: 100%;
    width: 100%;
    background: #96c11e;

    
position: absolute;
left: 0;
bottom: 0;
    /* overflow: hidden; */
    z-index: 1;

    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */

    padding: 40px;

}


#page3 .card #back h2{
    font-size: 3.5vw;
}
#page3 .card #back p{
    font-size: 1.4vw;
    margin: 25px 0;
    line-height: 1.4;
}